<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authentication mode="None" />
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="FORGE_CALLBACK_URL" value="http://tplcaeapp02.ticb.comp/api/forge/callback/oauth" />
          <environmentVariable name="FORGE_CLIENT_SECRET" value="iWZ4bBueRX6OFuDa" />
          <environmentVariable name="FORGE_CLIENT_ID" value="rKtpAY7GT5Upbacuj8mcCjMgHfI0Rwj8" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
      <security>
        <requestFiltering>
          <!-- This will handle requests up to 1024MB (1GB) -->
          <requestLimits maxAllowedContentLength="1048576000" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>